{% extends 'common.html' %}
{% load static %}

{% block maincontent %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script src="{% static 'js/about.js' %}" defer></script>
  
<div id="topHeaderBG"></div>
<div id="aboutTopContent">
  <div id="headBrandBuilding">12 Years Of Successful Brand Building</div>
  <div id="headBrandBuildingdescription">
    <div>We are the leaders of hybrid marketing, social media strategies, content and paid marketing.</div>
    <img src="{% static 'img/victory.png' %}" alt="">
  </div>
</div>

<div id="aboutTopGraphic">
  <div></div>
</div>

<div id="darkBody">
    <div id="knowledgeBox">
        <div id="knowledgeBoxDescription" class="text36">
            With over 12 years of industry knowledge, our legacy is built on a strong ethos of meaningful & impactful projects. We add the missing layers of creative flair to campaigns that connect SMEs and game changing brands with communities. <br><br>

            As a collective, we mix up our passion for culture and creativity with a nerdy enthusiasm for growth marketing. <br><br>
            
            Our core team are young but experienced digital natives, from diverse backgrounds and we source creatives from the communities our clients want to speak with to co-create content.
        </div>

        <div id="knowledgeBoxHeading" class="headings96">
            Knowledge<br>
            Experience<br>
            Culture
        </div>
    </div>

    <div id="numberGameBox">
        <div>
            <div id="numberGameBoxHeading" class="headings96">The Number<br>Game</div>
            <div id="numberGameBoxDescription" class="text36">
                All praises and glorification can be pretentious,<br>but our numbers speak for ourselves.
            </div>
        </div>
        <div id="companyStatsBox">
            <div class="companyStats">
                <div class="plusSign" id="projectsPlus">+</div>
                <div class="stat">3500</div>
                <div class="statLabel">Successful Projects</div>
            </div>
            <div class="companyStats">
                <div class="plusSign" id="clientsPlus">+</div>
                <div class="stat">3000</div>
                <div class="statLabel">Super Happy Clients</div>
            </div>
            <div class="companyStats">
                <div class="plusSign" id="awardsPlus">+</div>
                <div class="stat">200</div>
                <div class="statLabel">Award Winners</div>
            </div>
        </div> <!-- End of companyStatsBox -->
    </div>

    <div id="ourTeamBox">
        <div id="ourTeamBoxCol1">
            <div id = "teamScrollLeft"  onclick="teamScrollLeft()">
                <span class="material-icons-outlined scrollIcons">arrow_back_ios</span></div>
            <div id = "teamScrollRight" onclick="teamScrollRight()">
                <span class="material-icons-outlined scrollIcons">arrow_forward_ios</span>
            </div>
            <div id="teamProfileContainer">
                <div class="teamProfileBox">
                    <div>
                        <img src="{% static 'img/TeamProfile1.svg' %}" class="profileBG">
                        <img src="{% static 'img/profileTushar.png' %}" class="profileDP">
                    </div>
                    <div>Tushar Raj</div>
                    <div>Director</div>
                </div>
        
                <div class="teamProfileBox">
                    <div>
                        <img src="{% static 'img/TeamProfile1.svg' %}" class="profileBG">
                        <img src="{% static 'img/profileNikhil.png' %}" class="profileDP">
                    </div>
                    <div>Nikhil Ojha</div>
                    <div>COO</div>
                </div>

                <div class="teamProfileBox">
                    <div>
                        <img src="{% static 'img/TeamProfile1.svg' %}" class="profileBG">
                        <img src="{% static 'img/profileKhushanshu.png' %}" class="profileDP">
                    </div>
                    <div>Khushanshu Bhatnagar</div>
                    <div>CEO & Founder</div>
                </div>
    
                <div class="teamProfileBox">
                    <div>
                        <img src="{% static 'img/TeamProfile1.svg' %}" class="profileBG">
                        <img src="{% static 'img/profileTarunima.png' %}" class="profileDP">
                    </div>
                    <div>Tarunima Paul</div>
                    <div>MD - India</div>
                </div>
            </div>
        </div>

        <div id="ourTeamBoxCol2">
            <div class="headings96">Our Team</div>
            <div class="text36">Our team has more than xx experienced and passionate people at the cutting edge of all things digital marketing, we always give our best for you.</div>
          </div>
    </div> <!-- End of ourTeamBox -->


  
</div> <!-- End of darkBody -->
{% endblock %}