{% extends 'common.html' %}
{% load static %}

{% block maincontent %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!-- <script src="{% static 'js/home.js' %}"></script> -->
  
  <div id="topHeaderBG"></div>
  <div id="homeTopContent">
    <div id="sharingvision">SHARING YOUR VISION</div>
    <div id="sharingvisiondescription">
      <div>We love create experiences that enable people to connect, express themselves and establish meaningful relationships</div>
      <div class="btnPrimLT" id="startProjBtn" onclick="showStartProjForm()">Start a Project</div>
    </div>
  </div>

  <div id="homeTopGraphic">
    <div></div>
  </div>

  <div id="homeDarkBody">
    <div id="companyStatsBox">
      <div class="companyStats">
        <div class="plusSign" id="projectsPlus">+</div>
        <div class="stat">3500</div>
        <div class="statLabel">Successful Projects</div>
      </div>
      <div class="companyStats">
        <div class="plusSign" id="clientsPlus">+</div>
        <div class="stat">3000</div>
        <div class="statLabel">Super Happy Clients</div>
      </div>
      <div class="companyStats">
        <div class="plusSign" id="awardsPlus">+</div>
        <div class="stat">200</div>
        <div class="statLabel">Award Winners</div>
      </div>
      
      <div id="companyStatsDescription"  class="text36">Stay connected with us & get your digital marketing strategy in place. We make digital marketing simple.</div>
    </div> <!-- End of companyStatsBox -->


    <div class="homePgSection" id="whatWeDeliverBox">
      <div class="homeHeadings">WHAT WE DELIVER</div>
      <div id="whatWeDeliverBanner"> <img src="{% static 'img/WhatWeDeliverBanner.svg' %}"> </div>
      <div id="whatWeDeliverDescriptionGroup">
        <div class="text36">Custom digital strategy informed by a powerful appraisal & your business deserves better than a pre-packed strategy</div>
        <div class="text36">See the progress we're making & what's driving results, anytime, we keep you consistently & transparently informed</div>
        <div class="text36">Services that dovetail together for your highest ROI, rowing in the same direction as your goals</div>
      </div>
    </div> <!-- End of whatWeDeliverBox -->


    <div class="homePgSection" id="selectedWorksBox">
      <div id="selectedWorksBoxCol1">
        <div id="selectedWorkXL" class="selectedWorks"> <img src="{% static 'img/projXL.jpg' %}" alt=""> <div class="projTitle">Ahren Arts</div> </div>
        <div id="selectedWorkM1" class="selectedWorks"> <img src="{% static 'img/projM1.png' %}" alt=""> <div class="projTitle">Temple Games</div> </div>
        <div id="selectedWorkM2" class="selectedWorks"> <img src="{% static 'img/projM2.jpg' %}" alt=""> <div class="projTitle">Bliss</div> </div>
      </div>

      <div id="selectedWorksBoxCol2">
        <div id="selectedWorksText">
          <div class="homeHeadings">SELECTED WORKS</div>
          <div class="text36">Get a deeper look at the challenges we overcome daily to create success stories for the brands</div>
        </div>
        <div id="selectedWorkL" class="selectedWorks"> <img src="{% static 'img/projL.jpg' %}" alt=""> <div class="projTitle">X.2 Networks</div> </div>
      </div>
    </div> <!-- End of selectedWorksBox -->


    <div class="homePgSection" id="ourClientsBox" >
      <div id="ourClientsBoxCol1" class="homeHeadings">OUR CLIENTS</div>

      <div id="ourClientsBoxCol2" class="text36">
        We are encouraged and inspired when our clients share their project results and success stories with us. WE have always noted the outstanding results of our work.
      </div>

      <div id="ourClientsBoxCol3">
        <div>3500</div>
      </div>

      <div id="ourClientsLogoGallery">
        <div><img src="{% static 'img/MSLogo.svg' %}"></div>
        <div class="clientsLogoSeparator"></div>

        <div><img src="{% static 'img/NikeLogo.svg' %}"></div>
        <div class="clientsLogoSeparator"></div>
        
        <div><img src="{% static 'img/RelianceLogo.svg' %}"></div>
        <div class="clientsLogoSeparator"></div>
        
        <div><img src="{% static 'img/TcsLogo.svg' %}"></div>
      </div>
    </div> <!-- End of ourClientsBox -->


    <div class="homePgSection" id="startProjectBannerBox">
      <div id="startProjectBanner">
        <div id="startProjectBannerHead">READY TO START<br>A PROJECT ?</div>
        <div class="btnPrimDT" onclick="showStartProjForm()">START NOW</div>
      </div>
    </div> <!-- End of startProjectBannerBox -->

  </div> <!-- End of homeDarkBody -->


  <form onsubmit="return submitStartProjForm()" id="startProjectForm" class="forms twoColumn">
    <div class="text36">Start a Project</div>

    <div class="columnLayout">
      <div class="x2FormColumn">
        <div>
          <div>Your Name</div>
          <input type="text" name="clientName" id="clientName">
        </div>
        <div>
          <div>Email</div>
          <input type="text" name="clientEmail" id="clientEmail">
        </div>
      </div> <!-- End of x2FormColumn -->
  
      <div class="x2FormColumn">
        <div>
          <div>Company</div>
          <input type="text" name="clientCompany" id="clientCompany">
        </div>
        <div>
          <div>Phone</div>
          <input type="text" name="clientPhoneNo" id="clientPhoneNo">
        </div>
      </div> <!-- End of x2FormColumn -->
    </div> <!-- End of columnLayout -->

    <div>
      <div>Message</div>
      <textarea name="clientMessage" id="clientProjectDescription"></textarea>
    </div>

    <div id="startProjFormButtonGroup">
      <button type="button" class="btnSecondaryLT startProjFormBtn" onclick="hideStartProjForm()">Cancel</button>
      <button type="submit" class="btnPrimLT startProjFormBtn" id="startProjFormSumbitBtn">Submit</button>
    </div>
  </form> <!-- End of startProjectForm -->


  <script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}