:root{
    --Black : #1C1E1E;
    --White : #F6F6F6;
    --LGrey : #D9D9D9;
    --Blue : #0069BE;
    --Orange : #F23A19;
    --Yellow : #FF940E;
}

div{
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    margin: 0px;
    padding-top: 12.6vw;

    color: var(--Black);

    -ms-overflow-style: none;   /* Hide scrollbar for IE and Edge   */
    scrollbar-width: none;      /* Hide scrollbar for Firefox       */
}

body::-webkit-scrollbar {
display: none;  /* Hide scrollbar for Chrome, Safari and Opera      */
}


#topHeader{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}



#topHeaderBox{
    display: flex;
    flex-flow: row wrap;
    gap: 6.88vw;
    justify-content: center;
    align-items: center;

    height: 7.1875vw;
    width: 90vw;
    margin: 0vw 5vw 0vw 5vw;

    font-size: 1.875vw;
    border-bottom: 1px solid var(--Black);
}

#topHeaderBox>div{
    display: inline-block;
}

#thLogo>img{
    width: 32vw;
}



.btnPrimLT{
    background-color: var(--Black);
    color: var(--LGrey);
}

.btnPrimDT{
    background-color: var(--LGrey);
    color: var(--Black);
}


#maincontent{
    z-index: 1;
}


.text36{
    font-size: 1.875vw;
}