#homeTopContent{
    display: flex;
    flex-flow: row wrap;
    gap: 17vw;

    padding: 0vw 5vw 0vw 5vw;
}


#homeTopContent>#sharingvision{
    font-size: 5vw;
    font-weight: 800;

    flex-basis: 36vw;
}

#homeTopContent>#sharingvisiondescription{
    flex-basis: 36vw;
    font-size: 1.875vw;
    text-align: justify;
}

#homeTopContent>#sharingvisiondescription>div{
    margin-bottom: 2.125vw;
}


#startProjBtn{
    border-radius: 1.5625vw;
    height: 3.125vw;
    padding: 0.4166vw 1vw 0.4166vw 1vw;
}


#topHeaderBG{
    position: absolute;
    top: 0px;
    left: 0px;

    height: 56vw;
    width: 100vw;
    border-radius: 0vw 0vw 3.33334vw 3.33334vw;
    
    background-image: linear-gradient(135deg, white 0%, var(--White) 30%, var(--LGrey) 100%);
    z-index: -2;
}


#homeTopGraphic{
    position: relative;
    height: 25vw;
    width: 100vw;
    padding: 0vw 5vw 0vw 5vw;
}
#homeTopGraphic>div{
    position: absolute;
    z-index: 1;
    width: 90vw;
    height: 34vw;
    margin-top: 6vw;
    border-radius: 3.75vw;

    background-image: url('/static/img/TopBanner.svg');
    background-size: cover;
}

#homeDarkBody{
    position: relative;
    padding-top: 15vw;

    color: var(--White);
    background-color: var(--Black);
}

#homeDarkBody>div{
    padding-left: 5vw;
    padding-right: 5vw;
}


#companyStatsBox{
    display: flex;
    flex-direction: row;
    gap: 1vw;

    margin-top: 4.375vw;
}

#companyStatsBox>.companyStats{
    flex-basis: 21vw;
    position: relative;
}

.companyStats>.plusSign{
    position: absolute;
    top: -2.1875vw;

    font-size: 5vw;
    font-weight: 700;
}

#projectsPlus{
    color: var(--Orange);
    right: -1vw;
}
#clientsPlus{
    color: var(--Blue);
    right: -1vw;
}
#awardsPlus{
    color: var(--Yellow);
    right: 1.875vw;
}


.companyStats>.stat{
    font-size: 6.66667vw;
    font-weight: 700;
    text-align: center;
}
.companyStats>.statLabel{
    font-size: 1.875vw;
    text-align: center;
}

#companyStatsDescription{
    flex-basis: 24vw;
}


.homeHeadings{
    font-size: 5vw;
    margin-bottom: 1.875vw;

    color: var(--White);
}
.text36{
    color: var(--LGrey);
}

.homePgSection{
    margin-top: 8vw;
}


#whatWeDeliverBox{
    position: relative;
}

#whatWeDeliverBanner{
    position: absolute;
    top: 0vw;
    right: 5vw;
}
#whatWeDeliverBanner>img{
    height: 10vw;
}

#whatWeDeliverBox>.homeHeadings{
    width: 26vw;
}

#whatWeDeliverDescriptionGroup{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#whatWeDeliverDescriptionGroup>div{
    flex-basis: 28vw;
}


#selectedWorksBox{
    display: flex;
    flex-direction: row;
    gap: 3.33vw;
}
#selectedWorksBoxCol1{
    flex-basis: 60.677vw;
}
#selectedWorksBoxCol2{
    flex-basis: 26vw;
}
#selectedWorkXL{
    /* background-color: var(--Blue); */
    height: 40vw;
}
#selectedWorkL{
    /* background-color: var(--Orange); */
    height: 45.21vw;
    margin-top: 3.33vw;
}
#selectedWorkM1{
    /* background-color: var(--LGrey); */
}
#selectedWorkM2{
    /* background-color: var(--Yellow); */
    margin-left: 2vw;
}
#selectedWorkM1,#selectedWorkM2{
    display: inline-block;
    width: 28.6vw;
    height: 28.125vw;
    margin-top: 3.33vw;
}

.selectedWorks{
    position: relative;
}
.selectedWorks>img{
    width: 100%;
    border-radius: inherit;
}

.projTitle{
    position: absolute;
    left: 2.5vw;
    bottom: 1.25vw;
    max-width: 25vw;
    font-size: 3.75vw;
    text-shadow: 4px 4px 8px rgba(50, 50, 50, 0.5);
}

#selectedWorkXL,#selectedWorkL,#selectedWorkM1,#selectedWorkM2{
    border-radius: 3.25vw;
}


#ourTeamBox{
    display: flex;
    flex-direction: row;
    gap: 8.8vw;
}

#ourTeamBoxCol1{
    flex-basis: 55vw;
}
#ourTeamBoxCol2{
    flex-basis: 26.146vw;
}

.teamProfileBox:first-child{
    margin-right: 4.6vw;
}

.teamProfileBox{
    display: inline-block;
}
.teamProfileBox>div{
    text-align: center;
}
.teamProfileBox>div>img{
    height: 25vw;
    width: 25vw;
}


#ourClientsBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
}
#ourClientsBoxCol1{
    flex-basis: 21.35vw;
}
#ourClientsBoxCol2{
    flex-basis: 32.08vw;
}
#ourClientsBoxCol3{
    flex-basis: 26.5625vw;
}
#ourClientsBoxCol3>div{
    height: 7.5vw;
    font-size: 6.67vw;
    font-weight: 600;
    padding-right: 1.25vw;
    text-align: right;

    background-image: url('/static/img/ClientCountBG.svg');
    background-size: 100%;
}



#ourClientsLogoGallery{
    display: flex;
    flex-direction: row;
    gap: 6.7vw;
    align-items: center;
}
#ourClientsLogoGallery>div{
    display: inline-block;
}
#ourClientsLogoGallery>div>img{
    height: 10vw;
    width: 10vw;
}
#ourClientsLogoGallery>.clientsLogoSeparator{
    height: 0.625vw;
    width: 0.625vw;
    border-radius: 0.3125vw;

    background-color: var(--LGrey);
}


#startProjectBanner{
    height: 40vw;
    padding: 5vw;
    border-radius: 3.333vw;

    background-color: var(--Blue);
    background-image: url('/static/img/StartProjBanner.svg');
    background-size: 100%;
}

#startProjectBannerHead{
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 7.5vw;
}

#startProjectBanner>.btnPrimDT{
    width: max-content;
    padding: 1.25vw 2.9167vw 1.25vw 2.9167vw;
    font-size: 2.9167vw;
    border-radius: 3.2vw;
}


